**Import the required libraries**

In [1]:
# import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
import statsmodels.api as sm
from statsmodels.graphics.regressionplots import influence_plot

Read the data from the input csv file

In [9]:
day = pd.read_csv('day.csv')
#ay.set_index('instant',inplace=True)
day.head(10)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
5,6,06-01-2018,1,0,1,0,6,0,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
6,7,07-01-2018,1,0,1,0,0,0,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
7,8,08-01-2018,1,0,1,0,1,1,2,6.765000,8.11270,53.5833,17.875868,68,891,959
8,9,09-01-2018,1,0,1,0,2,1,1,5.671653,5.80875,43.4167,24.250650,54,768,822
9,10,10-01-2018,1,0,1,0,3,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321

Check the information of the dataset which includes the number of columns in the dataset and type of columns

In [10]:
day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

Check if any duplicate rows present in the given dataset

In [11]:
day.duplicated().sum()

0

Check if any null column values present in the dataset

In [12]:
day.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

Describe the dataset

In [14]:
day.describe().T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
season,730.0,2.498630,1.110184,1.000000,2.000000,3.000000,3.000000,4.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.995890,2.000339,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.690411,0.462641,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

We can set the instant as the index as it's a unique identifier

In [15]:
day.set_index('instant',inplace=True)
day.head(10)

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
1,01-01-2018,1,0,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,02-01-2018,1,0,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,03-01-2018,1,0,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,04-01-2018,1,0,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,05-01-2018,1,0,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
6,06-01-2018,1,0,1,0,6,0,1,8.378268,11.66045,51.8261,6.000868,88,1518,1606
7,07-01-2018,1,0,1,0,0,0,2,8.057402,10.44195,49.8696,11.304642,148,1362,1510
8,08-01-2018,1,0,1,0,1,1,2,6.765000,8.11270,53.5833,17.875868,68,891,959
9,09-01-2018,1,0,1,0,2,1,1,5.671653,5.80875,43.4167,24.250650,54,768,822
10,10-01-2018,1,0,1,0,3,1,1,6.184153,7.54440,48.2917,14.958889,41,1280,1321

Columns such as dteday, yr, mnth seems redundant and therefore, dropping 'yr' and 'mnth'\

In [16]:
day.drop(["yr","mnth"], axis=1, inplace=True)
day.head()

,dteday,season,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,
1,01-01-2018,1,0,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,02-01-2018,1,0,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,03-01-2018,1,0,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,04-01-2018,1,0,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,05-01-2018,1,0,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

We already have workingday column which can explain whether it is holiday or workingday therefore, dropping 'holiday'

In [17]:
day.drop(["holiday"], axis=1, inplace=True)
day.head()

,dteday,season,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,
1,01-01-2018,1,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985
2,02-01-2018,1,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801
3,03-01-2018,1,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
4,04-01-2018,1,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
5,05-01-2018,1,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

### Will Extract month and year from dteday column

In [18]:
day['month'] = pd.to_datetime(day['dteday']).dt.month_name()
day['year'] = pd.to_datetime(day['dteday']).dt.year

<ipython-input-18-d8add332f99d>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  day['month'] = pd.to_datetime(day['dteday']).dt.month_name()
<ipython-input-18-d8add332f99d>:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  day['year'] = pd.to_datetime(day['dteday']).dt.year

In [20]:
day.drop(["dteday"], axis=1, inplace=True)
day.head()

,season,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,month,year
instant,,,,,,,,,,,,,
1,1,1,1,2,14.110847,18.18125,80.5833,10.749882,331,654,985,January,2018
2,1,2,1,2,14.902598,17.68695,69.6087,16.652113,131,670,801,February,2018
3,1,3,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349,March,2018
4,1,4,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562,April,2018
5,1,5,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600,May,2018

In [21]:
day.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 1 to 730
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      730 non-null    int64
 1   weekday     730 non-null    int64
 2   workingday  730 non-null    int64
 3   weathersit  730 non-null    int64
 4   temp        730 non-null    float64
 5   atemp       730 non-null    float64
 6   hum         730 non-null    float64
 7   windspeed   730 non-null    float64
 8   casual      730 non-null    int64
 9   registered  730 non-null    int64
 10  cnt         730 non-null    int64
 11  month       730 non-null    object
 12  year        730 non-null    int64
dtypes: float64(4), int64(8), object(1)
memory usage: 79.8+ KB

Lets convert these column data types

In [22]:
day["weekday"]=day.weekday.astype("category")
day["season"]=day.season.astype("category")
day["weathersit"]=day.weathersit.astype("category")

In [23]:
day.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 1 to 730
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      730 non-null    category
 1   weekday     730 non-null    category
 2   workingday  730 non-null    int64
 3   weathersit  730 non-null    category
 4   temp        730 non-null    float64
 5   atemp       730 non-null    float64
 6   hum         730 non-null    float64
 7   windspeed   730 non-null    float64
 8   casual      730 non-null    int64
 9   registered  730 non-null    int64
 10  cnt         730 non-null    int64
 11  month       730 non-null    object
 12  year        730 non-null    int64
dtypes: category(3), float64(4), int64(5), object(1)
memory usage: 65.5+ KB

In [24]:
# Will need mapping of the seasons, weekday & weathersit columns as below for better understanding the relation
day.season=day.season.map({1:"Spring",2:"Summer",3:"Fall",4:"Winter"})
day.weekday=day.weekday.map({0:"Sun",1:"Mon",2:"Tue",3:"Wed",4:"Thurs",5:"Fri",6:"Sat"})
day.weathersit=day.weathersit.map({1:"Clear",2:"Mist",3:"Light Snow",4:"Rainfall"})

**Visualisation**